.collection-view {
  text-align: center;
  margin-top: 20px;
}

.collection-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.collection-header img {
  width: 45px; 
  height: auto;
  margin-right: 15px;
}

.collection-title {
  font-size: 2.0em; 
  margin: 0;
}

.pokemon-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  margin: 20px;
  text-align: center;
}

.pokemon-card img {
  width: 100px;
  height: auto;
  margin-top: 40px;
}

.collected-info {
  margin: 5px 0 0;
}

.generation-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.generation-filter button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(to right, #2c3e50, #34495e); /* Dark background gradient */
  color: #fff;
  border: 3px solid #2c3e50; /* Dark border color */
  border-radius: 5px; /* Sharper corners */
  transition: background 0.3s ease, transform 0.3s ease;
}

.generation-filter button:hover {
  background: linear-gradient(to right, #233446, #2c3e50); /* Darker background gradient on hover */
  border-color: #000000;
  transform: scale(1.05);
}

.generation-filter button.active {
  background: linear-gradient(to right, #161312, #0d0c0c); /* Set your desired active background gradient */
  border-color: #0d0c0c; /* Set your desired active border color */
  color: #fff; /* Set your desired active text color */
}


.collection-info {
  position: relative; /* Add relative positioning to the container */
  width: 120px; /* Set your desired width and height */
  height: 120px;
  margin: 0 auto; /* Center the circle horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Hide overflow to clip the circle */
  cursor: pointer;
}

.collection-ball {
  position: absolute;
  width: 80%;
  height: 80%;
  background: radial-gradient(circle, #FF4242 20%, #FF0000);
  border: 2px solid #000;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.collection-circle {
  position: absolute;
  width: 40%;
  height: 40%;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.collection-lines {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.collection-info:hover .collection-ball {
  transform: scale(1.2);
}

.collection-info {
  background: radial-gradient(circle, #FF4242 20%, #000000);
  border: 8px solid #000;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  transition: box-shadow 0.3s ease;
}

.collection-info:hover {
  box-shadow: 0 8px 12px rgba(255, 255, 0, 0.4);
}

.collection-info strong {
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 5px;
}

.collection-info span {
  font-size: 1em;
  color: #000;
}

.collection-view.clicked .collection-ball {
  display: none; /* Hide the ball */
}

.collection-view.clicked .collection-info {
  display: flex; /* Show the text when the ball is clicked */
  background: radial-gradient(circle, #f44242, #ff0000); /* Pokémon-inspired red gradient */
  box-shadow: none; /* Remove the box shadow for the clicked state */
  border-color: #000;
}

.collection-info:hover {
  box-shadow: none; /* Remove the box shadow on hover */
}

@media (max-width: 850px) {

  .collection-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-family: 'Sans-serif', Arial, sans-serif; /* Add this line to set the font */
  }
  
  .collection-header img {
    width: 45px;
    height: auto;
    margin-right: 15px;
  }
  
  .collection-title {
    font-size: 2.0em;
    margin: 0;
    font-family: 'Sans-serif', Arial, sans-serif; /* Add this line to set the font */
  }
  


  .generation-filter {
    flex-wrap: wrap; 
    justify-content: center;
  }

  .generation-filter button {
    width: 100%; 
  }
  
}