.modal {
    font-size: 12px;
    text-align: center;
    position: relative;
    font-family: 'Your Sans-Serif Font', sans-serif; 
  }
.modal > .content {
    width: 100%;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .modal > .content > .added-to-cart {
    margin-top: 10px; /* Add space between header and content */
    font-size: 24px; /* Larger font size for "ADDED TO CART" */
    font-family: 'Your Sans-Serif Font', sans-serif; 
  }
  
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #0a0a0a;
  }
  
  .modal {
    font-size: 12px;
    text-align: center; /* Center the content */
    position: relative;
  }
  
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px; /* Add margin to create space between header and content */
  }

  /*Pack info*/

  .packModal {
    padding: 10px;
    max-width: 700px;
    margin: 15px auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .infoContainer {
    text-align: left;
  }
  
  .infoContainer p {
    margin: 0 0 15px;
  }
  
  .closeContainer {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  
  .closeImage {
    width: 23px;
    height: 23px;
  }

  /*Pack summary*/

  .packSummaryModal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .packSummaryModal-content {
    display: flex;
    justify-content: space-between;
    width: 80%; 
    margin-left: 50px;
    margin: 20px;
  }
  
  .names-list {
    list-style: none;
    padding: 0;
  }
  
  .names-list-item {
    margin-bottom: 8px; 
  }
  
  .popup-content {
    max-width: 600px;
    border: none;
  }

  .packSummaryButton {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px 6px;
    border-radius: 8px;
    font-size: 15px;
  }

  .packSummaryButton:hover {
    background-color: #5b605b;
  }