.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}


.searchBox {
  display: flex;
  align-items: center;
  margin-left: 500px; 
  margin-bottom: 40px

}

.searchBox input {
  background: #fff;
  border: 2px solid #000;
  width: 500px;
  height: 40px;
  border-radius: 50px;
  padding: 10px;
  margin-right: -20px;
}

.searchBox input:focus {
  outline: none;
  border-color: #000;
}

.keyboardImage {
  width: 41px;
  height: auto;
  margin-left: -33px;
  margin-right: 10px;
}

/* media query for phones */
@media (max-width: 850px) {

  .searchBox input {
    transform: translate(-310px,0px);
  }
  
  .keyboardImage {
    transform: translate(-250px,0px);
  }

}