.shop {
  text-align: center;
}

.storeButton {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 8px;
}

.storeButton:disabled{
  background-color: rgb(48, 48, 48);
  color: black;
  border: none;
  cursor: not-allowed;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 8px;
}

.storeButton:not(:disabled):hover {
  background-color: #0e0f0e;
}

.shopTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; 
}

.titleImage {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.titleImage {
  width: 80px; 
  height: auto;
  display: flex;
}

.balance {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
}


.balance img {
  margin-left: 5px;
  width: 20px; 
  height: 20px;
  vertical-align: middle;
}
.packs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; /* Align items to the top */
}

.pack {
  width: 200px;
  margin: 10px;
  padding: 15px; /* Increase padding for a more spacious look */
  border: 2px solid #ffcc00; /* Pokemon Yellow color */
  background: linear-gradient(to right, #ff8c00, #ffc107); 

  color: #060606;
  text-align: center;
  border-radius: 15px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.pack:hover {
  box-shadow: 0 0 20px rgba(255, 140, 0, 0.8); /* Increase box-shadow on hover */
}

.pack img {
  max-width: 100%;
  height: 120px; /* Increase height for better visibility */
  border-bottom: 2px solid #ffcc00; /* Pokemon Yellow color */
}

.packDetails {
  margin-top: 10px; /* Reduce top margin for better spacing */
  font-size: 14px; /* Adjust font size */
}

.pack:hover {
  transition: transform 0.2s;
  transform: scale(1.05);
}

.packDetails img {
  width: 20px; 
  height: 20px; 
  margin-left: 20px;
  vertical-align: middle;
}

.purchasedPacks {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.purchasedPacksImg {
  max-width: 100%;
  height: 100px;
  border-bottom: 2px solid #ddd;
}


/* modal.css */


.cart-link {
  text-decoration: none; 
  color: inherit;
}

.cart-button {
  display: inline-block;
  padding: 8px 16px; 
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.cart-button:hover {
  background-color: #04a9f5; 
}

/* Add styles for packs of different generations */
.pack.gen1 {
  background: linear-gradient(to right, #ff0000, #ff8c00); /* Gen 1 gradient */
}

.pack.gen2 {
  background: linear-gradient(to right, #009688, #00bcd4); /* Gen 2 gradient */
}

.pack.gen3 {
  background: linear-gradient(to right, #2ecc71, #27ae60); /* Gen 3 gradient */
}

.pack.gen4 {
  background: linear-gradient(to right, #e74c3c, #c0392b); /* Gen 4 gradient */
}

.pack.gen5 {
  background: linear-gradient(to right, #3498db, #2980b9); /* Gen 5 gradient */
}

.pack.gen6 {
  background: linear-gradient(to right, #f39c12, #e67e22); /* Gen 6 gradient */
}

.pack.gen7 {
  background: linear-gradient(to right, #8e44ad, #9b59b6); /* Gen 7 gradient */
}

.pack.gen8 {
  background: linear-gradient(to right, #1abc9c, #16a085); /* Gen 8 gradient */
}

.pack.gen9 {
  background: linear-gradient(to right, #e67e22, #d35400); /* Gen 9 gradient */
}

.pack.legendary {
  background: linear-gradient(to right, #c0392b, #e74c3c); /* Legendary gradient */
}



.timer {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333; 
  background-color: #f0f0f0; 
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.countdown-timer {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  color: #333;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.countdown-timer span {
  margin: 0 5px;
}

.timer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  margin: 20px;
}

.timer-text {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center; 
}

.coin-icon {
  width: 20px; 
  height: auto;
  margin-left: 5px; 
}

/*Add to cart modal*/
.modalBtns {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 10px 10px;
  border-radius: 8px;
}

.modalBtns:hover {
  background-color: #5b605b;
}

/*Pack info btn*/

.packInfoButton {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 8px;
  font-size: 15px;
  transform: translate(615px, -25px);
}

.infoIcon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  vertical-align: middle;
}

@media (max-width: 850px) {

  .packInfoButton {
    transform: translate(0px, 0px);
    margin-bottom: 5%;
  }

  .balance {
    transform: translate(-135px, 0px);
  }

}