.shoppingCartHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 600px;
}

.shoppingCartHeader img {
  width: 60px; 
  height: auto;
  margin-right: 20px;
}

.shoppingCart {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
  
.cart-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cart-item-details p {
  margin: 10px; 
}

.cart-item img {
  width: 120px; 
  height: auto;
  margin-right: 10px;
}

.itemName {
  font-weight: bold;
  margin-bottom: 5px;
}

.cart-item-details p img {
  width: 16px; 
  height: 17px; 
  margin-left: 3px;
  vertical-align: middle;
  margin-bottom: 5px;
}
  
.total-price {
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px;
  margin-left: 40px;
}

.total-price img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  vertical-align: middle;
  margin-bottom: 5px;
}
  
.quantity-controls button {
  background-color: rgb(0, 0, 0);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 8px;
}

.quantity-controls button:hover {
  background-color: #5b605b;
}

.quantity-controls span {
  margin: 0 5px;
  font-weight: bold;
}

.cart-actions button {
  width: 170px;
  height: 55px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 7px;
  margin: 15px;
  cursor: pointer;
}

/* if user don't have enough coins to make purchase we disable the btn*/
.cart-actions button.disabled-button {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.cart-actions button:hover {
  background-color: #5b605b;
}

/*media query for phones*/

@media (max-width: 850px) {
  .shoppingCartHeader {
    transform: translate(-230px, 0px);
  }

  .shoppingCartHeader img {
    margin-right: -10;
    margin-bottom: 10px;
  }

  .titleFont {
    padding-left: 15;
    white-space: nowrap;
  }

  .cart-actions {
    margin-left: 300px;
    margin-top: 30px;
  }

}