.full-screen {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .bg-about {
    background-image: url("/src/aboutUsImages/about1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  .contributor {
    display: flex; 
    margin: 20px; 
  }
  
  .contributor img {
    width: 100px; 
    height: auto; 
  }
  
  .contributor-text {
    margin-left: 10px; 
  }
  
  .contributor p {
    text-align: center;
  }