.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.titleContainer img {
  width: 100px;
  height: auto;
  margin-right: 15px;
}

.contributor {
  display: flex; 
  margin: 20px; 
}

.contributor img {
  width: 100px; 
  height: auto; 
}

.contributor-text {
  margin-left: 10px; 
}

.contributor p {
  text-align: center;
}