@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.logo-image {
  width: 110px; /* Set the width to your desired size */
  height: auto;
  margin-left: 10px; /* Adjust the margin to shift it to the right */
}
.flex-row {
  display: flex;
  align-items: center; /* Align the items vertically in the flex container */
  margin-bottom: 15px;
}

.flex-row-homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flex-column-aboutus {
  margin-top: 3vh;
  height: 100vh;
  justify-content: center;
  margin-left: 5vw;
  display: grid;
  grid-template-columns: auto;
}

.App-name {
  width: 100%;
  display: flex;
  align-items: end;

  font-family: 'Pokemon Solid', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 5vw;
  margin-left: 50px; /* Add margin to create space between the logo and the title */
}

.description-font-20px {
  padding-top: 3vh;
  padding-bottom: 3vh;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;

  font-family: "Ubuntu", arial, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 35px;
}

meet-the-team{
  width: fit-content;
  height: fit-content;

  font-family: "Ubuntu", arial, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 34px;


}

.flex-row-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5vh;
}

.square-profile {
  width: 43vw;
  height: 45vh;
  background: linear-gradient(135deg, #3498db, #1f4788); /* Pokemon Blue Gradient */
  border-radius: 20px;
  padding: 2vw;
}


.flex-column-profile {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.profile-image {
  margin-bottom: 2vh;
  border-radius: 50%;
  size: 80%;
  
}


.profile-name {
  width: fit-content;
  height: fit-content;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: bold;
  font-weight: 200;
  font-size: 1.2vw;
  line-height: 5px;

  color: #ffff;

}


.profile-email {
  width: fit-content;
  height: fit-content;

  font-family: "Ubuntu", arial, serif;
  font-style: bold;
  font-weight: 200;
  font-size: 1vw;
  line-height: 15px;

  color: #ffff;}


  .more-about-member {
    width: 40w; /* Set the width according to your design */
    max-width: 60%; /* Ensure it doesn't exceed the available space */
    margin-left: 30px;
  }

  .profile-bold {
    max-width: 200px; /* Adjust the maximum width based on your design */
    height: fit-content;
  
    overflow: hidden;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
  
    font-family: "serif";
    font-style: bold;
    font-weight: 200;
    font-size: 1vw;
    line-height: 35px;
    color: #ffff;
  }
  

  .LO-list{
    height: fit-content;

  font-family: "Ubuntu", arial, serif;
  font-style: light;
  font-weight: 400;
  font-size: 1vw;
  line-height: 25px;
  margin-block-start: 0;
  color: #ffff;
}

