.details-container {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
}

.info-container {
  display: flex;
  margin-right: 300px;
  justify-content: left;
  margin-top: 10px;
}

.info-container > div {
  flex: auto;
  margin: 50px;
  text-align: left;
  font-size: 18px;
}

.info-container h3 {
  margin-top: 30px;
  margin-bottom: 5px;
}

.info-container p {
  margin: 0;
  text-align: left;
  margin-top: 10px;
}

.pokemon-image {
  width: 350px;
  height: auto;
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
}

.pill {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px;
  display: inline-block;
  margin-top: 10px;
  white-space: nowrap;
}

.pokedex-data-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  text-align: left;
}

.pokedex-data-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  white-space: nowrap;
}

.pokedex-data-image {
  width: 30px; 
  height: auto;
  margin-right: 5px;
}

.stats {
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 1100px;
  font-weight: bold;
  font-size: 18px;
}

.backButton {
  background-color: rgb(0, 0, 0);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
  float: right;
  margin-top: 6px;
}

.backButton:hover {
  background-color: #5b605b;
}

.stat-info {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 10px;
}

.stat-image {
  width: 24px; 
  height: 24px; 
  margin-right: 5px; 
  margin-top: 10px;
}

.stat-name {
  font-size: 16px;
  font-weight: bold;
  color: #1a1716;
  margin-top: 10px;
}

.stat-bar {
  width: 100%;
  height: 20px;
  background: #959595;
  display: block;
  position: relative;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #000;
}

.stat-bar > div {
  height: 100%;
  background: red;
  display: block;
  position: relative;
  border-radius: 8px;
}

.stat-count1,
.stat-count2,
.stat-count3,
.stat-count4,
.stat-count5,
.stat-count6 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  right: 5px;
}

.shiny-text {
  font-size: 20; 
  font-weight: bold;
  white-space: nowrap;
  position: relative; 
  bottom: 875px;
  margin-left: 970px;
}

.shiny-image {
  width: 350px; 
  height: auto; 
  display: flex;
  margin-top: 0px;
  position: relative; 
  top: -880px;
  margin-left: 885px;
}

.moves {
  margin-top: 0px;
  position: relative; 
  top: -432px;
  margin-left: 550px;
}

.movesTitle {
  white-space: nowrap;
}

.type-container {
  display: flex;
  flex-wrap: wrap;
}

.type-pill {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.type-normal {
  background-color: #9099a1;
}

.type-fire {
  background-color: #ff9c54;
}

.type-water {
  background-color: #4d90d5;
}

.type-electric {
  background-color: #f3d23b;
}

.type-grass {
  background-color: #78c850;
}

.type-ice {
  background-color: #98d8d8;
}

.type-fighting {
  background-color: #ce4069;
}

.type-poison {
  background-color: #ab6ac8;
}

.type-ground {
  background-color: #d97746;
}

.type-flying {
  background-color: #8fa8dd;
}

.type-psychic {
  background-color: #f97176;
}

.type-bug {
  background-color: #a8b820;
}

.type-rock {
  background-color: #c7b78b;
}

.type-ghost {
  background-color: #5269ac;
}

.type-dragon {
  background-color: #0a6dc4;
}

.type-dark {
  background-color: #5a5366;
}

.type-steel {
  background-color: #b8b8d0;
}

.type-fairy {
  background-color: #ec8fe6;
}