
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
/* Add this rule to your CSS file */

/* Add this rule to your CSS file */
.styled-title {
  font-family: 'Pokemon Solid', sans-serif !important;
  font-size: 2em !important;
  font-weight: normal !important;
  color: inherit !important;
  background: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  display: inline !important;
  line-height: 1 !important;
  border: none !important;
  text-shadow: none !important;
 
}


/* Add specific styles for each Pokemon type */
.styled-title.type-normal {
  color: #A8A878; /* Set the color for Normal type */
}

.styled-title.type-fire {
  color: #FF3D00; /* Set the color for Fire type */
}

.styled-title.type-water {
  color: #6890F0; /* Set the color for Water type */
}

.styled-title.type-electric {
  color: #FFD700; /* Set the color for Electric type */
}

.styled-title.type-grass {
  color: #78C850; /* Set the color for Grass type */
}

.styled-title.type-ice {
  color: #98D8D8; /* Set the color for Ice type */
}

.styled-title.type-fighting {
  color: #C03028; /* Set the color for Fighting type */
}

.styled-title.type-poison {
  color: #A040A0; /* Set the color for Poison type */
}

.styled-title.type-ground {
  color: #E0C068; /* Set the color for Ground type */
}

.styled-title.type-flying {
  color: #A890F0; /* Set the color for Flying type */
}

/* Add more type-specific styles as needed */



/* General Styling */
.pokemon-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.stat-item {
  text-align: center;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.stat-item span {
  font-size: 14px;
}
/* Bold the words Attack, Defense, and Speed */
.stat-item.attack span::before {
  content: 'Attack: ';
  font-weight: bold;
}

.stat-item.defense span::before {
  content: 'Defense: ';
  font-weight: bold;
}

.stat-item.speed span::before {
  content: 'Speed: ';
  font-weight: bold;
}


html,
body {
  padding: 0;
  margin: 0;
}

h1 {
  margin-right: 25px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

/* Pokemon Type Icons Styling */

.type-icon {
  position: relative;
  width: calc(100% / 18);
  height: calc(100% / 9);
  background-image: url("/src/searchImages/searchLogos.png");
  display: inline-block;
  background-size: 600% 300%;
  cursor: pointer;
  box-sizing: border-box;
  outline: 3px solid;
  outline-offset: -3px;
}

.icon-container {
  width: 100%;
  font-size: 0; /* Removes spacing between inline-block elements */
}

.type-icon {
  width: calc(100% / 18); /* One row of 18 */
  height: calc(100% / 8);
}

.selected-type .type-icon {
  width: 10vw;
  height: 30vw;
}

@media (max-width: 1100px) {
  .type-icon {
    width: calc(100% / 9); /* Two rows of 9 */
    height: calc(100% / 6);
  }

  .selected-type .type-icon {
    width: 8vw;
    height: 8vw;
  }
}

@media (max-width: 800px) {
  .type-icon {
    width: calc(100% / 6); /* Three rows of 6 */
    height: calc(100% / 8);
  }

  .selected-type .type-icon {
    width: 15vw;
    height: 15vw;
  }
}

.type-icon:hover {
  transform: scale(1.1);
  transition: transform 0.1s;
}

.type-icon.selected {
  background-color: grey;
  filter: grayscale(100%);
}

.selected-types {
  display: flex;
  justify-content: center;
  background-color: black;
}

.selected-types h2 {
  color: white;
}

.selected-type {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* Pokemon Type Icons Offsets */

.fighting { background-position: 0 0; }
.psychic { background-position: 20% 0; }
.poison { background-position: 40% 0; }
.dragon { background-position: 60% 0; }
.ghost { background-position: 80% 0; }
.dark { background-position: 100% 0; }
.ground { background-position: 0 50%; }
.fire { background-position: 20% 50%; }
.fairy { background-position: 40% 50%; }
.water { background-position: 60% 50%; }
.flying { background-position: 80% 50%; }
.normal { background-position: 100% 50%; }
.rock { background-position: 0 100%; }
.electric { background-position: 20% 100%; }
.bug { background-position: 40% 100%; }
.grass { background-position: 60% 100%; }
.ice { background-position: 80% 100%; }
.steel { background-position: 100% 100%; }

/* Pokemon Card Styling */

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  min-height: 100svh;
}

.search-results .pokemon-card {
  width: 210px; /* Adjust the width as needed */
  margin: 15px;
  padding: 15px;
  border: 8px solid #0b0a0a; /* Choose your desired border color */
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;

}

.search-results .pokemon-card img {
  width: 100%; /* Make the image fill the container */
  height: auto;
  border-radius: 5px; /* Optional: Add border radius to the image */
}


.search-results .pokemon-card:hover {
  transform: scale(1.05);
}


.search-results .pokemon-card h2 {
  margin-top: 0;
}

/* Pokemon Card Background Colors */


.search-results .pokemon-card.type-fairy {
  background: linear-gradient(135deg, #e03d8e 0%, #ff7eb3 50%, #e03d8e 100%);
}


.search-results .pokemon-card.type-normal {
  background: linear-gradient(135deg, #4d5a63 0%, #5e7f9c 50%, #4d5a63 100%);
}


.search-results .pokemon-card.type-fire {
  background: linear-gradient(135deg, #ff5237 0%, #f0932b 50%, #ff5237 100%);
}


.search-results .pokemon-card.type-water {
  background: linear-gradient(135deg, #356ea0 0%, #0190FF 50%, #356ea0 100%);
}

.search-results .pokemon-card.type-electric {
  background: linear-gradient(135deg, #e1b600 0%, #fed330 100%);
}

.search-results .pokemon-card.type-grass {
  background: linear-gradient(135deg, #5faa3a 0%, #00b894 50%, #5faa3a 100%);
}

.search-results .pokemon-card.type-ice {
  background: linear-gradient(135deg, #67c2c2 0%, #74b9ff 100%);
}

.search-results .pokemon-card.type-fighting {
  background: linear-gradient(135deg, #a62a4a 0%, #30336b 100%);
}

.search-results .pokemon-card.type-poison {
  background: linear-gradient(135deg, #8f4d99 0%, #6c5ce7 100%);
}

.search-results .pokemon-card.type-ground {
  background: linear-gradient(135deg, #a8512a 0%, #EFB549 100%);
}

.search-results .pokemon-card.type-bug {
  background: linear-gradient(135deg, #4a501d 0%, #7d833c 50%, #4a501d 100%);
}

