.shop {
  text-align: center;
}

.storeButton {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 8px;
}

.storeButton:disabled{
  background-color: rgb(48, 48, 48);
  color: black;
  border: none;
  cursor: not-allowed;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 8px;
}

.storeButton:not(:disabled):hover {
  background-color: #5b605b;
}

.shopTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; 
}

.titleImage {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.titleImage {
  width: 80px; 
  height: auto;
  display: flex;
}

.balance {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
}

.balance img {
  margin-left: 5px;
  width: 20px; 
  height: 20px;
  vertical-align: middle;
}

.packs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pack {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 2px solid grey;
  background-color: black;
  color: white;
}

.pack img {
  max-width: 100%;
  height: 100px;
  border-bottom: 2px solid #ddd;
}

.packDetails {
  margin-top: 50px;
}

.pack:hover {
  transition: transform 0.2s;
  transform: scale(1.05);
}

.packDetails img {
  width: 20px; 
  height: 20px; 
  margin-left: 5px;
  vertical-align: middle;
}

.purchasedPacks {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.purchasedPacksImg {
  max-width: 100%;
  height: 100px;
  border-bottom: 2px solid #ddd;
}

/* modal.css */

/* modal.css */

/* modal.css */

.modal {
  font-size: 12px;
  text-align: center; /* Center the content */
  position: relative;
}

.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px; /* Add margin to create space between header and content */
}
/* Add this to your existing CSS file or create a new one */
.cart-link {
  text-decoration: none; /* Remove default underline */
  color: inherit; /* Inherit the color from the parent */
}

.cart-button {
  display: inline-block;
  padding: 8px 16px; /* Adjust padding as needed */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.cart-button:hover {
  background-color: #04a9f5; 
}